article{
    width: 100%;
    margin: auto;
    background: url("cart_back.jpg") fixed no-repeat center;
    background-size: cover;
}

.cart_box img{
    width: 120px;
    height: 110px;
}
.cart_img{
    display: flex;
    width: 400px;
}
.cart_img p {
    font-weight: bold;
    margin-left: 10px;
}
.cart_box{
    margin-left: 100px;
    margin-right: 100px;
    padding: 1rem;
    background: rgba(255,255,255,0.35);
    -webkit-backdrop-filter: blur(18px);
    backdrop-filter: blur(18px);
    border: 1px solid rgba(255,255,255,0.175);
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
    border: 0.1px solid #383337; 
    padding-bottom: 5px;
}
.cart_box div:nth-child(2) button{
    padding: 5px 10px;
    font-weight: bold;
    margin-right: 5px;
}
.cart_box div:nth-child(3) button{
    padding: 5px 10px;
    font-weight: bold;
    letter-spacing: 2px;
    border:none;
    outline: none;
    color: white;
    background-color: #383337;
    border-radius: 20px;
    cursor: pointer;
}
.cart_box div:nth-child(3) button:hover{
    background-color: darkseagreen;
}
.cart_box div:nth-child(3) span{
    
    background-color: #383337;
    padding: 3px 10px;
    border-radius: 20px;
    margin-right: 10px;
}
.total{
    margin-left: 100px;
    margin-right: 100px;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
}
.total span:nth-child(1){
    font-size: 2rem;
    color: #383337;
    font-weight: bold;
    letter-spacing: 2px;
}
.total span:nth-child(2){
    font-size: 2rem;
    color: #383337;
    font-weight: bold;
}
.payment-button {
    padding: 8px 16px; /* Slightly smaller padding */
    background-color: #383337;
    color: white;
    border: none;
    border-radius: 20px;
    font-size: 1.1rem; /* Slightly smaller font size */
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.payment-button:hover {
    background-color: #0056b3;
    transform: scale(0.98); /* Slightly shrink the button on hover */
}